
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <a asp-action="Create"> <input type="button" value="Insert Book" class="btn btn-primary" />  </a>
</div>
    <br/>
<div>
    <a asp-action="ShowAll"> <input type="button" value="Show All Books" class="btn btn-primary" />  </a>
</div>


